.App {
  text-align: center;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



.row1 {
  padding: 20px;
}

.row2 {
  margin-top: 40px;
  padding: 20px
}

.switch {
  margin-top: 10px;
  background-color: rgb(227, 204, 204);
  margin-top: 10px;
}

.top {
  margin-top: 20px
}

.box {
  width: 400px;
  height: 150px;
  align-self: center;
}

.light {
  background-color: rgb(229, 229, 73);
}

.temp {
  background-color: rgba(255, 102, 0, 0.656);
}

.humidity {
  background-color: rgb(40, 199, 40);
}

.all {
  display: flex;
  border-radius: 10px;
  height: 150px;
  justify-content: center;
  align-items: center;
}

.bulb {
  margin-right: 50px;
}